# dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Prisma and env
.env
.env.*
!.env.example

# desktop builds
dist/
dist-desktop/
release/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/editor
.DS_Store
Thumbs.db
.vscode/
.idea/
